@import url(//fonts.googleapis.com/css?family=Open+Sans);

h1 {
  font-size: 4rem;
  color: white;
  font-weight: 30;
  margin-left: 1rem;
  text-decoration: underline;
}

body {
    padding: 50px 0;
    background-color: #6091C3;
}

#search{
  margin-left: 1rem;
  width: 570px;
}

h1, #search {
    margin-left: 80px;
}

.suggestions {
    margin-left: 65px;
    width: 585px;
}

.category, .address, .city, .zip {
    font-style: italic;
}

.address, .city {
    text-transform: uppercase;
}

.name {
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
}
