body{
    background-color: white;
    width: 960px;
    text-align: center;
    margin: 0px;
}

html{
    font-size: medium;
    
}

.list-item {
    display: block;
    /* height: 150px;
    width: 300; */
    margin-bottom: 20px;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    color: white;
}


h1{
    font-family: 'Big Shoulders Display', cursive;
    color: #2a2a2a;
    font-size: xx-large;
    font-weight: thicker;
    text-decoration: underline;
    margin-top: 20px;
}

h2{
    font-weight: bold;
    font-size: large;
}

.search-form{
    margin-top: 20px;
}

.userform{
    margin-top: 20px;
}

input#search.city.zip.is-normal{
    height: 40px;
    width: 300;
    margin-bottom: 10px;
}