body { 
  background-color: #bff7ef;
}

h1 {
  font-family: 'Recursive', sans-serif;
}

.container {
  position: relative;
  width: 80%;
  max-width: 960px;
  margin: 0 auto;
}

.results {
  margin: 0;
  padding: 0;
  position: relative;
}

.results li {
  background: linear-gradient(rgb(226, 192, 117), rgb(230, 213, 215));
  border-bottom: 1px solid #eb9b9b;
  margin: 0;
  padding: 20px;
  display: flex;
  text-transform: uppercase;
}

span.name {
  font-family: Verdana, Geneva, Tahoma, sans-serif
}

span.category {
  font-family: 'Courier New', Courier, monospace
}

span.address {
  font-family: 'Courier New', Courier, monospace
}
